body {
	background-color: rgb(244, 116, 59);;
	width: 200px;
}

p {
	text-align: center;
	font-size: 25px;
	margin : 0;
}

#succeeded {
	color : rgb(190, 238, 98);
	margin-top: 10px;
	font-size : 50px;
}

#times {
	margin : 0;
}